<form>
   <div class="form-group row">
     <!-- Item Name -->
     <label class="col-md-4 col-form-label required" for="itemName">Item Name</label>
     <div class="col-md-8">
       <input
         [(ngModel)]="formModel.itemName"
         name="itemName"
         type="text"
         class="form-control"
         id="itemName"
         required
         placeholder="Enter item name"
       />
     </div>
 
     <!-- Item Price -->
     <label class="col-md-4 col-form-label required mt-3" for="itemPrice">Item Price</label>
     <div class="col-md-8 mt-1">
       <input
         [(ngModel)]="formModel.price"
         name="itemPrice"
         type="number"
         class="form-control"
         id="itemPrice"
         required
         placeholder="Enter item price"
       />
     </div>
 
     <!-- Item Stock -->
     <label class="col-md-4 col-form-label required mt-3" for="itemStock">Item Stock</label>
     <div class="col-md-8 mt-1">
       <input
         [(ngModel)]="formModel.stock"
         name="itemStock"
         type="number"
         class="form-control"
         id="itemStock"
         required
         placeholder="Enter item stock"
       />
     </div>
 
     <!-- Item Status -->
     <label class="col-md-4 col-form-label required mt-3" for="isActive">Status</label>
     <div class="col-md-8 mt-1">
       <select
         [(ngModel)]="formModel.isAvailable"
         name="isAvailable"
         class="form-control"
         id="isActive"
         required
       >
         <option value="1">Available</option>
         <option value="0">Not Available</option>
       </select>
     </div>
   </div>
 
   <div class="form-group row mt-4">
     <div class="col-md-8 offset-md-4">
       <button type="button" class="btn btn-primary btn-lg" (click)="save()">Simpan</button>
     </div>
   </div>
 </form>
 