<form>
   <div class="form-group row">
     <!-- Customer Selection -->
     <label class="col-md-4 col-form-label required" for="customerId">Customer</label>
     <div class="col-md-8">
       <select
         [(ngModel)]="formModel.customerId"
         name="customerId"
         class="form-control"
         id="customerId"
         required
       >
         <option *ngFor="let customer of listCustomer" [value]="customer.customerId">
           {{customer.customerName}}
         </option>
       </select>
     </div>
 
     <!-- Item Selection -->
     <label class="col-md-4 col-form-label required mt-3" for="itemId">Item</label>
     <div class="col-md-8 mt-1">
       <select
         [(ngModel)]="formModel.itemId"
         name="itemId"
         class="form-control"
         id="itemId"
         required
       >
         <option *ngFor="let item of listItems" [value]="item.itemId">
           {{item.itemName}}
         </option>
       </select>
     </div>
 
     <!-- Quantity Input -->
     <label class="col-md-4 col-form-label required mt-3" for="quantity">Quantity</label>
     <div class="col-md-8 mt-1">
       <input
         [(ngModel)]="formModel.quantity"
         name="quantity"
         type="number"
         class="form-control"
         id="quantity"
         required
         placeholder="Enter quantity"
         min="1"
       />
     </div>
   </div>
 
   <div class="form-group row mt-4">
     <div class="col-md-8 offset-md-4">
       <button type="button" class="btn btn-primary btn-lg" (click)="save()">Simpan</button>
     </div>
   </div>
 </form>
 